*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    font-family: "open sans",sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    background:#02918b ;
    text-align: justify;
}
.container{
    width: 1170px;
    margin: auto;
}
.logo{
    
    width: 15%;
}
.menu{
    /* background: ; */
    width:85% ;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
ul{
    justify-content: flex-end;

}
a{
    font-size:12px;
    font-weight:700;
    color: #ffffff;
    padding: 26px 24px;
    display: inline-block;
}
